{% extends "auth_base.html" %} {% block title %}Profile{% endblock %} 
{% block content %}



<div class="app-title" style="margin-top:10px;">
    <CENTER><div>
        <h2>
            <i class="fa fa-user" style="margin-top:20px;"></i> ข้อมูลส่วนตัว
        <!-- </h2>
        <i>หน้าแก้ไขข้อมูลส่วนตัวไม่ว่าจะเป็น เบอร์โทร .... และอื่นๆ</i> -->
    </div></CENTER>
  
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <!-- ส่วนtitle -->
            <div class="tile-title-w-btn row">
                <!-- <h3 class="title"><b>
                    <i class="fa fa-edit" style="margin-top:40px; margin-left:40px;"></i> แก้ไขข้อมูลส่วนตัว
                </h3></b> -->
                <p>
                    <button type="button" class="btn btn-primary icon-btn" style="margin-top:35px; margin-left:1000px;">
                        <i class="fa fa-edit"></i> แก้ไข
                    </button>
                </p>
            </div>

            <!-- ส่วนฟอร์ม -->
            <div class="tile-body">
                <form [formGroup]="form" (submit)="onSubmit()">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <img *ngIf="!form.value.image" src="{{session['picture']}}" 
                                class="img-fluid img-thumbnail"
                                style="height: 250px; width: 250px;">
                        <!--    <img *ngIf="form.value.image" [src]="form.value.image" class="img-fluid img-thumbnail"> -->
                            </div>
                            <div class="form-group">
                                <!-- <input type="file"> -->
                            </div>
                        </div>

                        
                        <div class="col-sm-6">
                            <div class="font-weight-bold" style="font-size: 15px;">
                                <label for="">รหัส&emsp;&emsp;&emsp;&ensp;&nbsp;{{ profile_data.id }}</label><br>
                                <label for="">Name&emsp;&emsp;&emsp;{{ profile_data.student_fname_en | title +' '+profile_data.student_lname_en | title }}</label><br>
                                <label for="">ชื่อ&emsp;&emsp;&emsp;&emsp;&ensp;{{ profile_data.student_fname_th +' '+profile_data.student_lname_th }}</label><br>
                                <label for="">ชั้นปี&emsp;&emsp;&emsp;&ensp;&nbsp;{{ profile_data.study_year }}</label><br>
                                <label for="">หลักสูตร&emsp;&ensp;&nbsp;{{ major_data.major_name }}</label><br>
                                <label for="">คณะ&emsp;&emsp;&emsp;&nbsp;&nbsp;{{ faculty_data.faculty_name }}</label><br>

                                <!-- <label for="">เพศ&emsp;&emsp;&emsp;&nbsp;&nbsp;</label>
                                <input type="radio" id="contactChoice1"
                                 name="contact" value="email" checked>
                                <label for="contactChoice1">ชาย</label>&ensp;
                            
                                <input type="radio" id="contactChoice2"
                                 name="contact" value="telephone">
                                <label for="contactChoice2">หญิง</label>&ensp;
                            
                                <input type="radio" id="contactChoice3"
                                 name="contact" value="courrier">
                                <label for="contactChoice3">อื่นๆ</label><br> -->

                                <label for="">อีเมล&emsp;&emsp;&emsp;&ensp;{{ session['email']}}</label>
                              </div>

                             <!-- ใส่ disabled ไปจะเเก้ไขไม่ได้
                             <div class="form-group font-weight-bold" style="margin-right: 200px;  font-size: 15px;">
                                <label for="">อีเมล</label>
                                <input type="text" class="form-control" disabled formControlName="email">
                            </div> -->

                            <!-- <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group font-weight-bold">
                                        <label for="">เบอร์โทร</label>
                                        <input type="text" class="form-control" formControlName="firstname">
                                    </div>
                               </div>
                            </div> -->

                    <hr>
                    <!-- <div class="form-group">
                        <button type="submit" class="btn btn-primary" >
                            <i class="fa fa-save"></i> บันทึกข้อมูล
                        </button>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>
   




{% endblock %}