{% extends "base.html" %} {% block title %}Sign Up{% endblock %} 
{% block content %}
    <form method="POST">
      <h3 align="center">Sign Up</h3>
      <div class="form-group">
        <label for="email">Email : {{ session["email"] }}</label>
      </div>
      <div class="form-group">
        <label for="firstName">ENG Name : {{ session["name"] }}</label>
      </div>
      <div class="form-group">
        <label for="student_id">Student ID</label>
        <input
          type="text"
          class="form-control"
          id="student_id"
          name="student_id"
          placeholder="รหัสนักศึกษา 10 หลัก"
        />
      </div>
      <div class="form-group">
        <label for="student_fname_th">ชื่อ</label>
        <input
          type="text"
          class="form-control"
          id="student_fname_th"
          name="student_fname_th"
          placeholder="ภาษาไทย"
        />
      </div>
      <div class="form-group">
        <label for="student_lname_th">สกุล</label>
        <input
          type="text"
          class="form-control"
          id="student_lname_th"
          name="student_lname_th"
          placeholder="ภาษาไทย"
        />
      </div>

      <div class="form-group">
        <label for="major_name"> Major Name :</label>
        <select id="major_name" name="major_name">
          <option value="20182067117526"> Data Science and Innovation </option>
          <option value="25550051100164">Philosophy, Politics and Economics</option>
          <option value="25520051102782">Interdisciplinary Studies of Social Science</option>
        </select>
      </div>

      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}